{% extends 'network/layout.html' %}

{% block body %}

    <div id="post">
        <div id="user">
            <h3>{{ profile }}</h3>
            {% if user.is_authenticated and request.user != profile %}
                <button class="btn btn-primary py-1 px-2 ms-auto" id="followButton">
                    {% if is_following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            {% endif %}
            <h6>Followers : {{ followers }}</h6>
            <h6>Following : {{ followings }}</h6>
        </div>
    </div>

    <div id="posts">
        {% for post in posts %}
            <div id="post">
                <a href="{% url 'profile_page' user_id=post.user.id %}" id="user"><strong>{{ post.user }}</strong></a>
                <br>
                {% if post.user == request.user %}
                    <a>Edit</a>
                {% endif %}
                <p>{{ post.text }}</p>
                <p id="timestamp">{{ post.timestamp }}</p>
                Likes: {{ post.likes }}
            </div>
        {% endfor %}
    </div>

{% endblock %}